.FA {
    background-color: #000000;
}

.AthênaiFC {
    background-color: #283D70;
}

.CairoCity {
    background-color: #F7B200;
}

.FCRio {
    background-color: #15335b;
}

.HollywoodFC {
    background-color: #0a1b33;
}

.InterLondon {
    background-color: #196DBF;
}

.TokyoSC {
    background-color: #18A68E;
}

.MontréalUnited {
    background-color: #0B191E;
}

.CFCatalunya {
    background-color: #DD2025;
}

.SeoulMFC {
    background-color: #1B4522;
}

.CABuenosAires {
    background-color: #E73F02;
}

.SydneyCity {
    background-color: #340936;
}

.ASParis {
    background-color: #004170;
}

.AdowaAccraFC {
    background-color: #eb9f15;
}

.UniãoSãoPaulo {
    background-color: #e52525;
}

.FCKaapstad {
    background-color: #02492a;
}

.ACRomana {
    background-color: #5C1466;
}

.RedStarLaos {
    background-color: #CC0000;
}

.ReykjavikUnited {
    background-color: #000000;
}

.SchwarzwälderFV {
    background-color: #1F1F1F;
}

.Prospect,
.Retired {
    background-color: var(--sslBlue);
}